
#homepage{
  background-image: url("../img/Free-Hip-Hop-Wallpaper-1024x576.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;


}
body{
  margin: 0;
  color: white;
}
.hiphoppic {
/*width: 10%;*/
height: 90%;
}
section{
  color: hsl(79, 1%, 33%);
  padding-top: 600px;
}
.can{
  padding-top: 29px;
  margin-bottom: 0;

}
p{
  padding-top: 15px;
  margin-bottom: 0;
}
nav {
text-align: center;
display: block;
padding: 0em 1em;
line-height: 3em;
background-color: hsla(0, 0%, 81%, 0.66);
font-size: 15px;
font-weight: 700;
color: #FFF;

}
ul {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  padding-left: 20px;
  margin-top: 60px;
}
li{
  list-style:none;
  margin-left: 102px;
  margin-right: 70px;
}
a{
  text-decoration: none;
  text-align: center;
}
/*a::before hover{
  background-color: white;
  text-shadow: 0px 0px 3px white;
}*/
#first:hover{
  background-color: lightwhite;
  border-radius: 37px;
  padding: 0;
  color: black;
  background-color: hsl(350, 9%, 87%);
  text-shadow: 0px 0px 16px gray;

}

.hiphop{
  padding-left: 2px;
}
.pop{
  margin-right: 103px;
}
h3{
  font-size:30px;
}

#marisol html {
  margin: 0;
}
#marisol body{
  color: black;
  background-color: hsl(214, 56%, 70%);
}
#mic{
  background-image: url('../img/redo hiphop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}
.headingpic{
  position: absolute;
}
#marisol h1{
  font-size: 50px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.historyHH{
  text-align: center;
}
.fingersHH{
  text-align: center;
  }
.button{
  border-radius: 3px;
  padding: 3px;
  color:white;
  background-color: hsl(214, 37%, 70%);
  /*text-shadow: 0px 0px 3px black;*/
}
.button:hover{
  border-radius: 3px;
  padding: 3px;
  color: black;
  background-color: lightgray;
  /*text-shadow: 1px 2px 3px black;*/
}

#marisol p{
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}
#marisol h2{
  font-size:40px;
}
#marisol h3 {
  padding-left:0px;
}
#thirdpage{
  background-color: hsl(214, 56%, 70%);
}
.thirdpageul{
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 3px;
  margin: 15px;
  padding-left: 10px;
  padding: 5px;
}
#thirdpage h3 {
  text-align: center;
  font-size: 200%;
}
.diva{
  display: flex;
  flex-direction: row;
  margin-left: 9px;
}
.tenbans{
  margin: 0;
  margin-right: 50px;
  list-style: initial;
}

.dog{
  text-align: center;
  font-size: 300%;
  color: hsl(0, 0%, 53%);
}
#picture body{
  color: black;
  background-image: url("../img/bg.jpg");
 background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

.oldschool{
  margin-top: 15px;
}

/*.oldschool{
  border-color: red;
  border-width:medium;
}*/

.oldschool img{
  height: 388px;
  width: 323px;
  padding: 5px;
}
.oldschool p {
  font-size: 100%;
  margin-top: 10px;
  padding-top: 0;
}
.fourpage{
	padding-top: 9px;
	padding-right: 1px;
}
.fourpage a {
  text-align: center;
}
.fourpage:hover{
  border-radius: 2px;
  color: blackhsl(303, 53%, 77%);
  background-color: hsl(350, 9%, 87%);
  text-shadow: 0px 0px 16px gray;
  padding-top: 9px;
  padding-right: 1px;
}



/*display: block;
width: 100%;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}*/
