#homepage{
  background-image: url("../img/bitwisehomepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:50px;


}
body{
  margin: 0;
  color: white;
}
div {
width: 1000%;
height: 100%;
}
nav {
text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
li{
  list-style:none;
  margin-left: 190px;
  margin-right: 70px;
}
a{
  text-decoration: none;
}
a:hover{
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  padding: 3px;
  color: lightgray;
}



#contact{
  background-color: white;
}
