body {
  margin: 0;
  font-family: monospace;
  background-color: hsl(223, 58%, 83%);
}
nav li{
  list-style: none;
  margin: 30px;
  padding: 10px;
  text-align: center;
}
a{
  text-decoration: none;
}
#row{
  padding-top: 100px;
  display:inline-block;
}
li a{
  display: inline-block;
  margin-left: 140px;
  color: white;
}
  .two{
  padding-left: 300px;
  padding-right: 300px;
}
h2{
  text-align: center;
}
#three{
  margin-left: 30px;
  padding-top: 80px;
  display: inline-block;
}
#four{

}
h1{
  text-align: center;
}
p{
margin: 25px;
text-align: center;
}
footer{
  margin-top: 500px;
  text-align: center;
}
.second ul {
 list-style: none;
}
ul li {
  padding:6px;
  display: inline;
  color: hsl(0, 0%, 0%);
}
