@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  background-color: hsl(240, 6%, 13%)

}
section{
  padding: 0 10%;
}
div {
  margin: 0 auto;
  width: 30%;
  padding-bottom: 20px;
  text-align: center;
  display:inline-block;
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: hsl(240, 16%, 18%);
  border-radius: 3px;
}
h4{
  color: white;
}
img {
  width: 100%;
}
p {
padding: 6px;
  text-align: center;
  color: grey;
}
a {
  margin: 15px;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 20px;
  color: white;
  display: block;
}
#one {
  background-color: hsl(174, 44%, 65%)
}
#two {
  background-color: hsl(226, 45%, 65%)
}
#three {
  background-color: hsl(263, 47%, 65%)
}

#footer{
  text-align: center;
  color: white;

}
